<div class="container">
  <div class="upper-data">
    <img src="" *ngIf="14>15">
    <img src="" *ngIf="14<=15">
  </div>
  <div class="weather-data">
    <div class="location">
      wellington
    </div>
    <!-- <div class="temperature">{{14.40 | number:'1.0-0'}}</div> -->
  </div>
</div>
<div class="lower-data"></div>
<div class="lower-data">
  <div class="more-info-label">
    More Information
  </div>
  <div class="more-info-container">
    <div class="info-block">
      <div class="info-block-label">
        <img src="../assets/min.png">
        <span>Min</span>
      </div>
      <div class="info-block-value">
        14.40
      </div>
    </div>
    <div class="info-block">
      <div class="info-block-label">
        <img src="../assets/Max.png">
        <span>Max</span>
      </div>
      <div class="info-block-value">
        30.40
      </div>
    </div>
    <div class="info-block">
      <div class="info-block-label">
        <img src="../assets/humidity.png">
        <span>humidity</span>
      </div>
      <div class="info-block-value">
        77.40
      </div>
    </div>
    <div class="info-block">
      <div class="info-block-label">
        <img src="../assets/wind.png">
        <span>wind</span>
      </div>
      <div class="info-block-value">
        11 km/h
      </div>
    </div>
  </div>
</div>
<!-- <router-outlet></router-outlet> -->
